apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: data-es-cluster-0
  namespace: {{ service.namespace }}
spec:
  storageClassName: nfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi